* {
  margin: 0;
  background-color: #808080;
}
.prucok-card {
  height: 320px;
  width: 217px;
  margin: 12px;
  border: 4px solid #fff;
  box-shadow: 4px 4px 8px #040404;
  overflow: hidden;
  animation: forgas 4s ease-in-out;
  animation-fill-mode: forwards;
}
.emblem {
  position: relative;
  top: -10;
  transform: skew(0deg, 10deg);
  background-color: #efefef;
  width: 40px;
  height: 50px;
  text-align: center;
}
.emblem-logo {
  width: 27px;
  height: 27px;
  background-color: transparent;
  transform: skew(0deg, -10deg);
  margin-top: 15px;
}
.stats {
  position: relative;
  top: -10;
  transform: skew(0deg, 10deg);
  background: linear-gradient(to right, #7a7a7a, #bebebe);
  width: 38px;
  height: 20px;
  text-align: center;
  margin-top: 5px;
  color: #fff;
  border-right: 2px solid #fff;
  border-bottom: 2px solid #fff;
  border-top: 2px solid #fff;
  padding-top: 2px;
  font-weight: bold;
  font-size: large;
}
.stats-green {
  background: linear-gradient(to right, #3e9967, #97ee6e);
}
.stats-red {
  background: linear-gradient(to right, #f74545, #ff5c5c);
}
.stats-blue {
  background: linear-gradient(to right, #3b4ef5, #5a78fc);
}
.stretched {
  display: inline-block;
  transform: scale(1, 1.5);
  background-color: transparent;
}

@keyframes forgas {
  0% {
    opacity: 0;
  }
  100% {
    transform: rotate(1440deg) translate(100px, 100px);
    opacity: 1;
  }
}
